.dateTime {
  background: $white;
  height: auto;
  width: 100%;
  border: 1px solid $tertMain;
  border-radius: 0.5rem;
  cursor: pointer;
  padding: 0.5rem 1rem;
  color: $grey-3;
  font-size: 1.6rem;
  //   display: flex;
  //   justify-content: space-between;
  //   align-items: center;
}
