@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/*
breakpoint argument classes-
-phone      
-tab-port
-tab-land
-[normal]
-big-scr
1em = 16px
*/
@keyframes moveUp {
  from {
    opacity: 0;
    transform: translateY(3rem); }
  to {
    opacity: 1;
    transform: translateY(0); } }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes floating {
  0% {
    opacity: 1;
    transform: translateY(0px); }
  50% {
    transform: translateY(-10px); }
  100% {
    opacity: 1;
    transform: translateY(0px); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (max-width: 37.5em) {
    html {
      font-size: 50%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace; }

@media (max-width: 37.5em) {
  .container {
    padding: 0 2rem; } }

::-moz-selection {
  /* Code for Firefox */
  background: rgba(255, 191, 26, 0.5); }

::selection {
  background: rgba(255, 191, 26, 0.5); }

::-webkit-scrollbar {
  width: 0.5rem; }

::-webkit-scrollbar-track {
  background: transparent; }

::-webkit-scrollbar-thumb {
  background: #ffecba; }

::-webkit-scrollbar-thumb:hover {
  background: #ffbf1a; }

body {
  font-family: 'poppins', sans-serif;
  font-weight: normal;
  line-height: 1.7;
  box-sizing: border-box;
  overflow-x: hidden; }

.MuiFormHelperText-root {
  position: absolute;
  right: 0;
  top: 0; }

.u-center-text {
  text-align: center !important; }

.u-truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

svg#freepik_stories-parking:not(.animated) .animable {
  opacity: 0; }

svg#freepik_stories-parking.animated #freepik--Clouds--inject-16 {
  animation: 3s Infinite linear floating;
  animation-delay: 0s; }

svg#freepik_stories-parking.animated #freepik--Sun--inject-16 {
  animation: 6s Infinite linear floating;
  animation-delay: 0s; }

svg#freepik_stories-parking.animated #freepik--Locator--inject-16 {
  animation: 1.5s Infinite linear floating;
  animation-delay: 0s; }

.animator-hidden {
  display: none; }

.inputField {
  position: relative; }
  .inputField__icon {
    position: absolute;
    cursor: pointer;
    transform: translateY(-100%);
    right: 0; }

.geocoder {
  position: relative; }
  .geocoder__controller {
    position: relative; }
  .geocoder__input {
    width: 95%;
    font-style: inherit;
    color: inherit;
    font-family: inherit;
    outline: none;
    border: none;
    font-weight: 500; }
  .geocoder__autocomplete {
    position: absolute;
    top: 105%;
    left: 0; }
  .geocoder__loc svg {
    transition: all 0.2s ease; }
    .geocoder__loc svg:hover {
      color: #8e24aa; }

.link, .link:link, .link:visited {
  text-decoration: none;
  color: inherit; }

.showDetails {
  background: #fff;
  border-radius: 0.5rem;
  padding: 0.5rem;
  line-height: 0.5 !important;
  display: flex;
  flex-direction: column;
  svg-font-size: 0.5rem; }
  .showDetails__text {
    font-weight: 600 !important;
    font-size: 1.4rem !important;
    color: #333;
    line-height: 1 !important;
    opacity: 0.7;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }

.auth {
  height: 100vh;
  width: 100vw; }
  .auth__bg {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 95%;
    z-index: -2; }
  .auth__bgFront {
    z-index: -1; }
    @media (max-width: 75em) {
      .auth__bgFront {
        width: 90%; } }
    @media (max-width: 56.25em) {
      .auth__bgFront {
        display: none; } }

.avatar {
  border: 2px solid #ffbf1a; }

.appbar__transparent {
  display: flex;
  justify-content: center;
  background: #fff !important;
  transition: all 0.3s ease !important; }
  @media (max-width: 56.25em) {
    .appbar__transparent {
      background: transparent !important;
      box-shadow: none !important; } }

.appbar__colored {
  display: flex;
  justify-content: center;
  background: #fff !important;
  transition: all 0.3s ease !important;
  box-shadow: 0.2px 0.2px 5px white !important; }
  @media (max-width: 56.25em) {
    .appbar__colored {
      background: transparent !important;
      box-shadow: none !important; } }

.geocoder_container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: 100%; }
  .geocoder_container svg {
    right: 0;
    z-index: 100;
    margin-left: 5px;
    transform: scale(0.9);
    cursor: pointer;
    color: #333;
    transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275); }
    .geocoder_container svg:hover {
      color: #ec8f62; }

@media screen and (min-width: 640px) {
  .mapboxgl-ctrl-geocoder {
    width: initial !important;
    max-width: initial !important; } }

.mapboxgl-ctrl-geocoder {
  box-shadow: none !important;
  width: 100% !important; }
  .mapboxgl-ctrl-geocoder--input {
    border-radius: 0.5rem;
    border: 1px solid #ec8f62 !important;
    outline: none !important; }

.mapbox_container {
  height: 100vh;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden; }
  @media (max-width: 56.25em) {
    .mapbox_container {
      overflow: hidden;
      height: 100vh;
      position: absolute;
      top: 0;
      right: 0;
      width: 100vw; } }

.dateTime,
.geocoder {
  background: #fff;
  height: auto;
  width: 100%;
  border: 1px solid #ec8f62;
  border-radius: 0.5rem;
  cursor: pointer;
  padding: 0.5rem 1rem;
  color: #333;
  font-size: 1.6rem; }

.box {
  display: flex;
  flex-flow: column;
  height: 100%; }

.box .row.header {
  flex: 0 1 auto; }

.box .row.content {
  flex: 1 1 auto; }

.box .row.footer {
  flex: 0 1 40px; }

.details {
  position: absolute;
  bottom: 0;
  width: 95vw;
  background: #ffecba;
  border-radius: 2rem 0 0 0;
  cursor: pointer;
  border: 0.1rem solid #ffbf1a;
  box-shadow: #ffecba 0px 30px 60px -12px, #ffecba 0px 18px 36px -18px; }
