// Std. colors
$black: #000;
$white: #fff;
$grey-1: #f7f7f7;
$grey-2: #eee;
$grey-3: #333;

// Application based colors
$primeMain: #ffbf1a;
$primeLight: #ffecba;
$secondMain: #8e24aa;
$secondLight: #a91eff;
$tertMain: #ec8f62;

// fonts
$default-font: 1.8rem;
