body {
  font-family: 'poppins', sans-serif;
  font-weight: normal;
  line-height: 1.7;
  box-sizing: border-box;
  // background-color: $prime-bg;
  // color: $black;
  // visibility: hidden;
  overflow-x: hidden;
}

.MuiFormHelperText-root {
  position: absolute;
  right: 0;
  top: 0;
}

.marker {
  background-image: url('assets/images/MarkerImg.png');
  background-size: cover;
  width: 32px;
  height: 40px;
  cursor: pointer;
}

.mb--marker {
  width: 30px;
  height: 40px;
  cursor: pointer;
}

.mb--marker__locate {
  width: 30px;
  height: 35px;
  cursor: pointer;
}
